#wall-div(hx-swap-oob="beforeend")
    .media.ml-auto.w-75.mb-1
        .media-body
            .bg-primary.rounded.py-2.px-3.mb-2
                p.text-small.mb-0.text-white #{text}
            p.small.text-muted 12:00 PM | Aug 13