#wall-div(hx-swap-oob="beforeend")
  .flex.flex-row-reverse.items-start
    img.ml-2.h-8.w-8.rounded-full(src='https://dummyimage.com/128x128/354ea1/ffffff&text=G')
    div(id='answer-div-' + containerid, class='min-h-[85px] dark:bg-slate-800 sm:min-h-0 sm:max-w-md md:max-w-2xl').flex.rounded-b-xl.rounded-tl-xl.bg-slate-50.p-4


//- #wall-div(hx-swap-oob="beforeend")
//-     .media.w-75.mb-1.pull-right      
//-         .media-body.ml-3
//-             .bg-white.rounded.py-2.px-3.mb-2
//-                 div(id='answer-div-' + containerid)
//-             p.small.text-muted 12:00 PM | Aug 13    

  