div(id='answer-div-' + containerid, hx-swap-oob="beforeend", class='min-h-[85px] dark:bg-slate-800 sm:min-h-0 sm:max-w-md md:max-w-2xl').flex.rounded-b-xl.rounded-tl-xl.bg-slate-50.p-4
    = text

//- div(id='answer-div-' + containerid, hx-swap-oob="beforeend")
//-     = text