#wall-div(hx-swap-oob="beforeend")
    .media.w-75.mb-1.pull-right      
        .media-body.ml-3
            .bg-white.rounded.py-2.px-3.mb-2
                div(id='answer-div-' + containerid)
            p.small.text-muted 12:00 PM | Aug 13    