#wall-div(hx-swap-oob="beforeend")
  .flex.items-start
    img.mr-2.h-8.w-8.rounded-full(src='https://dummyimage.com/128x128/363536/ffffff&text=J')
    .flex.rounded-b-xl.rounded-tr-xl.bg-slate-50.p-4(class='dark:bg-slate-800 sm:max-w-md md:max-w-2xl')
      = text

textarea#message.block.w-full.resize-none.rounded-xl.border-none.bg-slate-200.p-4.pl-10.pr-20.text-sm.text-slate-900( name="message" class='focus:outline-none focus:ring-2 focus:ring-blue-600 dark:bg-slate-900 dark:text-slate-200 dark:placeholder-slate-400 dark:focus:ring-blue-600 sm:text-base' placeholder='Enter your prompt' rows='1' required='' hx-swap-oob="true")